 #slideImage img{
    display: none;
    height:  400px;
    width:  500px;
    position: relative;
}
  
#slideImage{
    float: left;
}
 
#circleBtn{
    float: left;
    width: 15px;
}
#circleBtn img{
    left: 0px;
}
.circleNormal{
    background-image: url('../images/circleNormal.jpg');
}
 
